---
layout: 'base.njk'

---
    <section>
        <div class="introduction" >
            <div class="row">
                <div class="col justify-content-center align-items-center">
                    <h1>Shopping.Com </h1> <br>
                    <p>Your One stop destination for all your needs and all your Fashio</p>

                    <div style="text-align:right;">
                        <button class="btn" ><i class="animation"></i>BUTTON<i class="animation"></i>
                        </button>
                    </div>

                </div>
                <div class="col  justify-content-center align-items-center">
                    <img src="./assets/Blog-Cover.gif" alt="">
                </div>
            </div>
        </div>
    </section>

<section style="background: linear-gradient(15deg, #378b29 0%, #ffffff 74%);">

    <div class="post">

        <h1>My Posts</h1>



        <marquee behavior="scroll" direction="left" scrollamount="5">
            <span>Scrolling Text 1</span>
            <span>Scrolling Text 2</span>
            <span>Scrolling Text 3</span>
            <span>Scrolling Text 4</span>
        </marquee>
    



<div class="row">

{%- for post in collections.post -%}

    <div class="col d-flex justify-content-center align-items-center">
    <div class="card1">
        <div class="image"></div>
         <div class="content">
           <a href="#">
             <span class="title">
          {{ post.data.title }}
             </span>
           </a>
       
           <p class="desc">
      {{ post.data.desc}}
         
           </p>
       
           <a class="action" href="{{post.url}}">
             Find out more
             <span aria-hidden="true">
               →
             </span>
           </a>
         </div>
       </div>
</div>


{%- endfor -%}



</div>

</div>
</section>

