---
layout: 'base.njk'

---
    

        <marquee behavior="scroll" direction="left" scrollamount="5">
            <span>Scrolling Text 1</span>
            <span>Scrolling Text 2</span>
            <span>Scrolling Text 3</span>
            <span>Scrolling Text 4</span>
        </marquee>
    



<div class="row">


    <div class="col d-flex justify-content-center align-items-center">
    <div class="card1">
        <div class="image"></div>
         <div class="content">
           <a href="#">
             <span class="title">
               Lorem ipsum dolor sit amet consectetur adipisicing elit.
             </span>
           </a>
       
           <p class="desc">
             Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae
             dolores, possimus pariatur animi temporibus nesciunt praesentium 
           </p>
       
           <a class="action" href="#">
             Find out more
             <span aria-hidden="true">
               →
             </span>
           </a>
         </div>
       </div>
</div>

